
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 2;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: Dejavu Sans Mono;
    
    min-height: 100px;
/*
    background: rgb(255, 255, 255);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(255, 255, 255)), to(rgb(0, 0, 0)));
*/
    background: -webkit-radial-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
    background:    -moz-radial-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
    background:      -o-radial-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
    background:         radial-gradient(rgb(128, 128, 128), rgb(0, 0, 0));

    -webkit-font-smoothing: antialiased;
}

b, strong { font-weight: bold }
i, em { font-style: italic}

a {
    color: rgb(65,131,196);

    text-decoration: none;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover {
    text-decoration: underline;
}

/* enable clicking on elements 'hiding' behind body in 3D */
body     { pointer-events: auto; }
#impress { pointer-events: auto; }

/* COMMON STEP STYLES */

.step {
    width: 1000px;
    height: 700px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: Dejavu Sans Mono;

    font-size: 50px;
    line-height: 2;
}

.step {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.step:p{

}

/* fade out inactive slides */
.step:not(.active) {
    opacity: 0.3;
}

/* STEP SPECIFIC STYLES */

/* hint */

.hint {
    position: fixed;
    left: 0;
    right: 0;

    background: rgba(255, 255, 255, 0);
    color: #000000;
    text-align: left;

    font-family: Dejavu Sans Mono;

    font-size: 30px;
    padding: 15px;

    z-index: 1;

    opacity: 1;
    
    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);

}

/* overview step */

#overview {
    z-index: -1;
    text-align:center;
}

/* on overview step everything is visible */

.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}

/*
 * SLIDE STEP STYLES
 *
 * inspired by: http://html5slides.googlecode.com/svn/trunk/styles.css
 *
 * ;)
 */

.slide {
    display: block;

    width: 1000px;
    height: 700px;

    padding: 60px;

    background-color: rgba(243, 234, 203, 1);

    font-family: Dejavu Sans Mono;

    color: rgb(112, 66, 20);

    font-size: 20px;
    line-height: 2;
}